.item {
              margin-bottom: 10px;
            }
            
            .item label {
              display: inline-block;
              width: 300px;
              font-weight: bold;
            }
            
            .item span {
              font-weight: normal;
            }
            